.product-card-amount p span{
    display: block;
    text-align: center;
}

.detail-btn{
    border-radius: 50%;
    padding: 25px;
}

.updateOrPutInCart-btn{
    padding: 10px 15px;
    background-color: var(--second-color);
}