.product-card-amount p span {
	display: block;
	text-align: center;
	width: 5rem;
}
.product-card-amount p {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 10px 0;
}

.cart-favorite-amount button {
	border-radius: 20%;
	cursor: pointer;
}

.cart-favorite-amount p {
	font-size: 1.3rem;
}

.detail-btn {
	border-radius: 50%;
	cursor: pointer;
	height: 30px !important;
}

.updateOrPutInCart-btn {
	cursor: pointer;
	font-size: 1.8rem;
	padding: 1rem 8rem;
	background-color: var(--second-color);
	font-family: poppins-regular;
	color: var(--h-tag-btn-color);
	border-radius: 0.5rem;
}

.updateOrPutInCart-btn:hover {
	background-color: var(--main-green-color);

	color: var(--white-color);
}

.updateOrPutInCart-btn:active {
	background-color: var(--signUp-bg-color);
}

.cart-icon-container {
	position: relative;
	display: inline-block;
}

.cart-icon {
	width: 3.5rem;
	height: 7rem;
}

.cart-item-count {
	position: absolute;
	top: 16px;
	right: -19px;
	background-color: var(--main-green-color);
	color: var(--white-color);
	border-radius: 50%;
	padding: 3px 6px;
}

.cart-item-count p {
	font-family: poppins-regular;
	font-size: 1.1rem;
	width: 14px;
	text-align: center;
}
