/* Header Section */
.headerNav-section h2 {
  font-size: 1.8rem;
}
/* Home Section*/
.home-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  border-radius: 1rem;
}

.home-box a img {
  object-fit: cover;
  height: 5rem;
}

/* Productlist Section*/

.productlist-box {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 3rem; */
  margin-left: 1rem;
}

/* BackBtn Section*/
.backBtn-box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 0 0 1rem;
}

.backBtn-box h2 {
  margin: -6px 0 0 0;
}

/* Searchbar Section*/

.headerNav-searchBox {
  padding: 1rem 2rem;
  position: relative;
}

.search-icon {
  position: absolute;
  top: 60%;
  left: 2.6rem;
  transform: translateY(-50%);
}

.headerNav-searchBox input {
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0rem 3rem;
  width: 75vw;
  height: 3.5rem;
}

.myCart-navBox {
  display: flex;
  width: 33rem;
}

.myCart-navBox button {
  cursor: pointer;
}
/* Profile Section*/
.profile-logout-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin: -2px 0 0 0;
}

.profile-box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.profile-box h2 {
  margin: -5px 0 0 0;
}

.profile-logout-section button {
  background: var(--main-green-color);
  padding: 0.5rem 3rem;
  color: var(--white-color);
  border-radius: 0.5rem;
  cursor: pointer;
}

.profile-logout-section button:hover {
  opacity: 70%;
}

.profile-logout-section button:active {
  background: var(--signUp-bg-color);
  color: var(--h-tag-btn-color);
}
