.clearAll-section {
  display: flex;
  justify-content: center;
}

.remove-filter-btn {
  padding: 5px 15px;
  display: inline-block;
  background-color: var(--second-color);
  border-radius: 5px;
  cursor: pointer;
}

.remove-filter-btn:active {
  background-color: var(--main-green-color);
  color: var(--white-color);
}

.filter-section {
  padding: 10px;
}

.filter-section h2 {
  margin-top: 25px;
  margin-bottom: 5px;
}
