.clearAll-section {
  display: flex;
  justify-content: center;
}

.remove-filter-btn {
  padding: 5px 15px;
  display: inline-block;
  background-color: var(--second-color);
  border-radius: 5px;
  cursor: pointer;
}

.remove-filter-btn:active {
  background-color: var(--main-green-color);
  color: var(--white-color);
}

.filter-section {
  padding: 10px;
}

.filter-section h2 {
  margin-top: 25px;
  margin-bottom: 5px;
}

.applyBtn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
}

.applyBtn-box button {
  color: var(--h-tag-btn-color);
  background-color: rgb(184, 226, 184);
  padding: 1rem 6rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.applyBtn-box button:hover {
  color: var(--white-color);
  background-color: var(--main-green-color);
}
.applyBtn-box button:active {
  background: var(--signUp-bg-color);
  color: var(--h-tag-btn-color);
}
