.selectSortType {
	display: flex;
	padding: 10px;
	align-items: center;
}
.label {
	color: var(--gray-04, #b9c1cc);
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 2rem;
}
.dd-wrapper {
	position: relative;
	z-index: 10;
	display: flex;
	gap: 5px;
	cursor: pointer;
	text-align: center;
}
.dd-header-title {
	border-radius: 0.5rem;
	border: none;
	outline: 0px;
	appearance: none;
	min-width: 135px;
	color: var(--main-green-color, #40aa54);
	/* Body 5 */
	font-size: 1.4rem;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	font-weight: 500;
	line-height: 2rem;
	padding: 6.5px 5px;
	text-align: left;
	/* border: 1px solid var(--signUp-bg-color, #9e9e9e); */
}
.dd-list {
	display: flex;
	flex-direction: column;
	text-align: left;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 10;
	width: 100%;
	background-color: transparent;
	/* 	box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.05);
 */
	border-radius: 0 0 12px 12px;
	opacity: 1;
	visibility: visible;
	overflow: hidden;
}
.dd-list.hidden {
	opacity: 0;
	display: none;
	visibility: hidden;
}
.dd-list .dd-list-item {
	position: relative;
	top: -300px;
	opacity: 0;
}
.dd-list.hidden .dd-list-item {
	animation: dropdown 0.5s forwards;
}
.dd-list.visible .dd-list-item {
	top: 0;

	animation: dropIn 0.5s forwards;
}
.dd-list-item {
	background-color: rgba(255, 255, 255, 1);
	text-align: center;
	padding: 6.5px 5px;
	border: none;
	outline: 0px;
	appearance: none;
	min-width: 125px;
	color: #5c6574;
	font-size: 1.2rem;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	font-weight: 500;
	line-height: 2rem;
	/* 	border-radius: 5px;
 */
	border-bottom: 1px solid var(--signUp-bg-color, #9e9e9e);
}
.dd-list-item:nth-of-type(1) {
	animation-delay: 0.6s;
}
.dd-list-item:nth-of-type(2) {
	animation-delay: 0.5s;
}
.dd-list-item:nth-of-type(3) {
	animation-delay: 0.4s;
}
.dd-list-item:nth-of-type(4) {
	animation-delay: 0.3s;
}
.dd-list-item:nth-of-type(5) {
	animation-delay: 0.2s;
}
.dd-list-item:nth-of-type(6) {
	animation-delay: 0.1s;
}
.dd-list-item:last-child {
	border-radius: 0 0 12px 12px;
}

.dd-list-item:hover {
	background-color: var(--main-green-color);
	color: var(--white);
}
.dd-wrapper span {
	font-size: 1.2rem;
}

@keyframes dropdown {
	0% {
		top: 0;
		opacity: 1;
		display: flex;
		visibility: visible;
	}

	100% {
		top: -300px;
		opacity: 0;
		display: none;
		visibility: hidden;
	}
}
@keyframes dropIn {
	0% {
		top: -300px;
		opacity: 0;
		display: none;
		visibility: hidden;
	}

	100% {
		top: 0;
		opacity: 1;
		display: flex;
		visibility: visible;
	}
}
