.favorites-section {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  min-height: 80vh;
  gap: 1rem;
}

.favorite-selection-btns {
  display: flex;
  align-items: center;
  /* gap: 22vw; */
  width: 100%;
  padding: 1rem 0;
  justify-content: space-around;
}

.favorite-selection-btns a {
  cursor: pointer;
}

.favorite-selection-btns a:nth-child(1) {
  width: 8rem;
}

.add-to-cart-box {
  padding: 1rem 0 0 0;
  margin-bottom: 12rem;
}

.add-to-cart-btn {
  border-radius: 1rem;
  padding: 1.2rem 2.5rem;
  font-size: 1.5rem;
  width: 28rem;
  font-family: poppins-regular;
  color: var(--white-color);
  background-color: var(--main-green-color);
  cursor: pointer;
}

.add-to-cart-btn:hover {
  opacity: 80%;
}

.add-to-cart-btn:active {
  background: var(--signUp-bg-color);
}

.fav-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.fav-empty div:nth-child(1) {
  display: flex;
  justify-content: center;
  height: 25rem;
}

.fav-empty a {
  border-radius: 1rem;
  padding: 1rem 2.5rem;
  font-size: 1.8rem;
  color: var(--white-color);
  background: var(--main-green-color);
}

.fav-empty a:hover {
  opacity: 80%;
}

.fav-empty a:active {
  background: var(--signUp-bg-color);
}
