.home-slider {
	display: flex;
	overflow-x: auto;
	gap: 10px;
	-ms-overflow-style: none;
	scrollbar-width: none;
	align-items: flex-start;
	padding-top: 10px;
	padding-bottom: 15px;
}

.home-slider::-webkit-scrollbar {
	display: none;
}
