.product-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
}


.product-article{
    border: 1px solid whitesmoke;
    max-width: 33.3vw;
    min-width: 33.3vw;
    min-height: 33.3vw;
    max-height: 33.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}