.shoppingCart-section {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  min-height: 80vh;
  gap: 1rem;
}
/* ! favorite-selection-btn siehe unter Favorites.css */

.cart-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.cart-empty div {
  display: flex;
  justify-content: center;
  height: 25rem;
}

.cart-empty a {
  cursor: pointer;
  border-radius: 1rem;
  padding: 1rem 4.4rem;
  font-size: 1.8rem;
  color: var(--white-color);
  background: var(--main-green-color);
}

.cart-empty a:hover {
  opacity: 80%;
}

.cart-empty a:active {
  background: var(--signUp-bg-color);
}

.checkOut-section {
  height: 30vh;
}
