.shoppingCart-section {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  min-height: 80vh;
  gap: 1rem;
}

.favorite-selection-btns a {
  cursor: pointer;
}

.cart-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.cart-empty div {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.cart-empty a {
  border-radius: 1rem;
  padding: 1rem 2.5rem;
  font-size: 1.8rem;
  color: var(--white-color);
  background: var(--main-green-color);
}

.cart-empty a:hover {
  opacity: 80%;
}

.cart-empty a:active {
  background: var(--signUp-bg-color);
}
