.category-section a {
  margin: 5px;
  font-size: clamp(1.2rem, 1.5vw, 2rem);
  text-decoration: none;
  color: gray;
}

.category-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-btn {
  background-color: var(--second-color);
  padding: 2.5px 8px;
  border-radius: 4px;
  min-width: 50px;
  text-align: center;
  font-size: clamp(1rem, 1.3vw, 2rem);
  cursor: pointer;
}

.category-section .active {
  border-bottom: 1px solid var(--main-green-color);
}

.category-section .active-filter {
  background-color: var(--main-green-color);
  color: var(--white-color);
}
