.orderHistory {
	padding: 0 2rem;
}

.nofeatureLink {
	font-family: poppins-regular;
	font-size: 1.8rem;
	color: var(--p-tag-color);
	text-decoration: underline;
	cursor: pointer;
}

.logo-reSize {
	height: 50%;
}
